.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;

    display: flex; // creates a 1 dimensional flex container 
    justify-content: center; // centers all child elements below in the center along the main axis (horizontal), so the nav design

    @media only screen and (max-width: $bp-large) {
        grid-column: 1 / -1; // changes to first to last column
        grid-row: 1 / 2; // changes to row 1 to row 2
        justify-content: flex-end; // moves the nav to the end of the row
        align-items: center; // vertically center the icon inside the side bar
    }
}

.nav-btn {
    border: none;
    border-radius: 0;

    background-color: #FFF;
    height: 2px;
    width: 4.5rem;
    margin-top: 4rem; // moves the whole button down so you can see all 3 pieces

    &::before,
    &::after {
        background-color: #FFF;
        height: 2px;
        width: 4.5rem;
        content: "";
        display: block;
    }

    &::before {transform: translateY(-1.5rem);}

    &::after {
        transform: translateY(1.3rem);
    }

    @media only screen and (max-width: $bp-large) {
        margin-top: 0; // no more top margin needed
        margin-right: 3rem; // right margin because the nav is now on the right

        &::before {transform: translateY(-1.2rem);} // makes the gaps on the nav lines closer together 
    
        &::after {transform: translateY(1.0rem);}
    }
}